<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>OUR MISSION</p>
    <p>Oasis Ministries is an equipping ministry that offers spiritual teaching and media designed to help you hear God, reveal the often overlooked ways in which God speaks, and train and empower believers at all levels of spiritual maturity to begin using their gifts to spread the truth and power of the Gospel.</p>

    <p>You can ask questions on <a href="https://www.facebook.com/pages/Oasis-Of-The-Fresh-Anointing/429643217076145" target="_blank">Facebook</a>, post encouraging tweets on <a href="#">Twitter</a>, or even stop by our community online with <a href="#">Instagram</a>.</p>
    <!-- <p>REVEALING GOD</p> -->
    <!-- <p>Whether you are a lifelong Christian or just someone interested in starting a spiritual journey of discovery, change does not begin until God becomes real to you. We believe God is speaking to us all the time, but some of us are simply not hearing His voice. Our training, resources and TV and film projects are focused on revealing the awe and supernatural presence of God to every generation.</p> -->
  </div>
  <div class="col-2 homepage_content">
    <h2>Stuff I've Written</h2> <!-- Change to "Daily Refreshments"-->
    <hr>

    <% @post.each do |post| %>
      <h3><a href="#"><%= link_to post.title, post %></a></h3>
      <p class="date"><%= post.created_at.strftime("%A, %b, %d") %></p>
    <% end %>
  </div>
  <div class="col-3 homepage_content">
    <h2>Stuff I've Built</h2> <!-- Change to "Sermons/OFAMily"-->
    <hr>
    <h3><a href="#">Unicasts</a></h3>
    <p class="date">Thursday June 30th</p>
    <h3><a href="#">J Rho Community</a></h3>
    <p class="date">Thursday June 30th</p>
    <h3><a href="#">12 in 12 challenge</a></h3>
    <p class="date">Thursday June 30th</p>
  </div>
</div>
